html{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #31415f;
    color: white;
    padding: 1rem 0rem;
}
body{
    margin: 0;
    background-color: #efefef ;
}

#Titulo{
    text-align: left;
}
.inline{
    text-align: right;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 17px;
}

#boton{
    display: inline-block;
    text-decoration: none;
    padding: 6px 15px;
    background: #707379;
    border-radius: 8px;
    color: #fff;
}
 .info {
    color:#31415f;
    justify-content: center;
    text-align: justify;
    width: 800px;
    margin: 0 auto;
}
.contenedor {
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding:  80px 0;
}
.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.titulo.lef{
    text-align: left;
}
.website{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.website img{
    width: 43%;
    float:right; 
}
.website .contenedor-textos-main{
    width: 49%;
}
.parrafo{
    color: #31415f;
    text-align: center;
    margin-bottom: 25px;
}
.heat{
    background-color: #31415f;
    color: #fff;
    display: flex;
    padding: 12px 15px;
    padding: 3rem 4rem;
}
.icon i{
    margin: 30px 0 5px 0;
    color: #31415f;
    float:right; 
    display: flex;
    font-size: 40px;
}
.abouss i{
    margin: 30px 0 5px 0;
    color: #707379;
    font-size: 40px;
}
.first{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   color:#31415f;
}
.first i{
    margin: 30px 0 5px 0;
    float:left; 
    display: flex;
    /* margin: 10px 0 5px 0; */
    color: #31415f;
    font-size: 90px;
    justify-content: space-evenly;
}
.second{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
   color:#31415f;
}
.second i{
    margin: 1px 0 5px 0;
    float:left; 
    display: flex;
    /* margin: 10px 0 5px 0; */
    color: #31415f;
    font-size: 90px;
    justify-content: space-evenly;
}
.tercera{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   color:#31415f;
}
.tercera i{
    margin: 30px 0 5px 0;
    float:left; 
    display: flex;
    /* margin: 10px 0 5px 0; */
    color: #31415f;
    font-size: 90px;
    justify-content: space-evenly
}
.cuartar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   color:#31415f;
   overflow: hidden;
}
.cuartar i{
    margin: 30px 0 5px 0;
    float:right; 
    color: #31415f;
    font-size: 90px;
    justify-content: space-evenly;
}
.p{
    text-align: justify;
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background-color: orange;
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}
.cards {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 4rem;
}
.card{
    width: 35%;
    text-align: center;
    justify-content: space-between;
    float:left;
    height: 190px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s; 
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card i{
    margin: 30px 0 20px 0;
    color: #435988;
    font-size: 50px;
}
.horarios  {
    width: 900px;
    margin: 0 auto;
}
.curso  {
    width: 900px;
    margin: 0 auto;
}
section article{
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 2rem 2rem;
    border-radius: 0.8rem;
    padding: 5rem 2rem;
}
.planFree{
  background-color: #31415f;
  color:#fff;
}
.planPremium{
    background-color: #000000;
    color:#fff;
    text-align: center;
     display: flex;
    flex-wrap: wrap;
   
  }
  .planPremium a{
    margin-bottom: 20px;
  }
/* .parrafo{
    font-size: 1rem 1rem ;
    text-align: left;
}
 */
.Q1{
    background-color: #31415f;
color:#fff;
}
.ima i{
    margin: 80px 0 5px 0;
    float:right; 
    color: #fff;
    font-size: 160px;
    justify-content: space-around;
}
table{
    width: 50%;
    border-collapse: collapse;
 
}
th, td{
    color:#fff;
    padding: 20px;
    text-align: left;
}
tr:hover{
    background-color: #31415f;
    cursor:pointer;
}
footer{
    width: 100%;
    background-color: #31415f;
    color: #fff;
}
.iconf{
    color: #fff;
}
.comuciacion{
   background-color: #31415f;
}

.cuadro{
    justify-content: space-evenly;
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
    display: inline-block;
} 

input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}